.doto-text-normal {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ROND" 0;
}

.doto-text-bold {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "ROND" 0; 
}

.tic-tac-toe {
    width: 350px;
    height: 350px;
}
.tic-tac-toe_position {
    background-color: salmon;
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.tic-tac-toe__dialog {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

.tic-tac-toe__dialog.d-none {
    display: none;
}

.tic-tac-toe__winner {
    width: 400px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0px #000;
}

.tic-tac-toe__winner h2 {
    font-size: 1.5rem;
}

.tic-tac-toe__winner h1 {
    font-size: 2rem;
}

.tic-tac-toe__winner h1 #ticTacToeWinner {
    color: blueviolet;
}

.tic-tac-toe__winner button#resetButton {
    padding: 1rem 1.5rem;
    border: 2px solid black;
    background-color: yellow;
    
}