html, body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgray;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Odin Font";
	src: url(/Norse-Bold.otf) format("truetype");
}

#odin-project {
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
}

#presentation-project {
	min-width: 400px;
	background-image: url(/halie-west-25xggax4bSA-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#presentation-project #odin-presentation {
	height: 120px;
	width: 100%;
	margin-bottom: 200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	justify-items: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 50%);
}

#presentation-project #odin-presentation img {
	font-family: "Odin Font", Arial, Helvetica, sans-serif;
	height: 90%;
}

#presentation-project #odin-presentation h1 {
	font-family: "Odin Font", Arial, Helvetica, sans-serif;
	color: white;
	font-size: 70px;
	margin: 0;
	padding-top: 15px;
}

#presentation-project sub {
	color: white;
	position: absolute;
	bottom: 10px;
}

#presentation-project sub a {
	color: white;
}

@media screen and (max-width: 768px) {
	#presentation-project {
		width: 100%;
	}
}

#section-project {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
}

.section-project-header {
	padding: 30px;
}

#register-form {
	width: 100%;
}

.section-project-form-top {
	width: 100%;
	background-color: white;
	box-shadow: 0px 5px 5px black;
	min-width: 100%;
	padding: 20px 0;
}

.section-project-form-top h4 {
	margin-top: 0;
	padding: 20px 30px 0px 30px;
}

.section-project-form-bottom {
	padding: 30px;
}

.section-project-form-bottom button {
	padding: 15px 30px;
	background-color: #596D48;
	color: white;
	border-radius: 10px;
	border-style: none;
	font-size: 14px;
}

.form-group {
	display: flex;
	flex-flow: row nowrap;
	padding: 0px 30px 20px 30px;
}

.form-group .form-input {
	display: flex;
	flex-flow: column nowrap;
	margin-right: 50px;
}

.form-group .form-input label {
	font-size: 13px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.form-group .form-input input {
	height: 20px;
	width: 180px;
	padding: 3px 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}

.form-group .form-input input:focus {
	border-color: lightskyblue;
	box-shadow: 2px 2px 5px darkgray;	
}

.form-group .form-input input:invalid {
	border-color: red;	
}

.section-project-form-bottom p a {
	color: #596D48;
	text-decoration: none;
	font-weight: bold;
}

